.ItemInputLine {
  margin: 5px;
  display: flex;
  align-items: center;

  .check {
    color: lightgreen;
    vertical-align: middle;
    padding: 5px;
  }

  .input {
    max-width: 177px;
    min-width: 177px;
  }

  .minusButton {
    max-width: 11px;
    min-width: 11px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.optionItem {
  cursor: pointer;

  &:hover {
    background-color: lightskyblue;
    color: #333333;
  }
}
